<!doctype html>
<html lang="zh">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
	crossorigin="anonymous">

<title>Login</title>
<style>
.login-container {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0 auto;
}

.card {
	width: 400px; /* 增加卡片的宽度 */
	height: 500px; /* 增加卡片的高度 */
}

.card-title {
	margin-bottom: 40px; /* 添加底部间隔 */
}

.title-container {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.alert .bi {
	width: 16px;
	height: 16px;
}

.error-container {
	display: none;
}

.custom-info {
	padding: 4px 4px; /* 调整底板的上下边距 */
	font-size: 14px; /* 调整底板的字体大小 */
	text-align: center; /* 让文字水平居中 */
	fill: #0d6efd; /* 自定义图标的颜色 */
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.custom-alert {
	padding: 4px 4px; /* 调整底板的上下边距 */
	font-size: 14px; /* 调整底板的字体大小 */
	text-align: center; /* 让文字水平居中 */
	fill: #F74A3A; /* 自定义图标的颜色 */
}

.rounded-image {
  border-radius: 50%;
}

#avatarContainerParent {
    display: flex;
    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */
}

</style>
</style>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path
		d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path
		d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z" />
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path
		d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
  </symbol>
</svg>

</head>
<body>





	<div class="login-container">
		<div class="card shadow">
			<div class="card-body">
				<div class="row">
					<div class="col">
						<div class="title-container">

							<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
								fill="currentColor" class="bi bi-person-bounding-box"
								viewBox="0 0 16 16">
  								<path
									d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z" />
  								<path
									d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
							</svg>
							<h1>&nbsp;登录&nbsp;</h1>
						</div>
					</div>
					<div class="col d-flex justify-content-end">
						<button type="button" class="btn-close" aria-label="Close"></button>
					</div>
				</div>


<div id="avatarContainerParent">
    <div id="avatarContainer">
        <img id="avatarImage" src="/pdh-java-web/profile_picture/0123456789default.png" alt="头像" class="rounded-image" width="50" height="50">
    </div>
</div>


				<form action="login" method="POST">
					<div class="mb-3">
						<label class="form-label">用户名</label> <input type="text"
							name="username" id="username" class="form-control" value="">
					</div>
					<div class="mb-3">
						<label class="form-label">密码</label> <input type="password"
							name="password" class="form-control">
					</div>

					<div class="mb-5">
						<div
							class="alert alert-primary d-flex align-items-center text-primary custom-info"
							role="alert">
							<svg class="bi flex-shrink-0 me-2 text-primary" role="img"
								aria-label="Info:">
						      <use xlink:href="#info-fill" />
						    </svg>
							<div>
								还没有账号?<a href="register.html" class="alert-link" style="--bs-link-opacity: .2"> 点我注册 </a> 。
							</div>
						</div>
					</div>


					<div class="d-flex justify-content-center gap-5 mb-3">
						<input class="btn btn-primary btn-lg" type="submit" value=" 登 录 " />
						<input class="btn btn-secondary btn-lg" type="reset" value=" 重 置 " />
					</div>

		<div class="d-flex justify-content-center">
			<div id="error-msg" class="error-msg" style="display: none;"></div>
		</div>

				</form>
			</div>
		</div>
	</div>
	<script>
		// 获取URL参数
		const urlParams = new URLSearchParams(window.location.search);
		// 获取用户名参数并设置为输入框的值
		const username = urlParams.get('username');
		document.getElementById('username').value = username;

		// 获取错误消息参数并显示错误消息
		const errorMessage = urlParams.get('errorMessage');
		if (errorMessage) {
			const errorElement = document.getElementById('error-msg');
			errorElement.textContent = errorMessage;
			errorElement.style.display = 'block';
		}

		// 关闭按钮点击事件
		document
				.querySelector('.btn-close')
				.addEventListener(
						'click',
						function() {
							window.location.href = 'http://localhost:8080/pdh-java-web/';
						});
		
		
		// 监听页面加载完成事件
		document.addEventListener('DOMContentLoaded', function() {
		    // 延迟一秒后执行头像更新
		    setTimeout(updateAvatar, 1000);
		});

		// 获取用户名输入框
		var usernameInput = document.getElementById('username');

		// 监听用户名输入框的键盘按键松开事件
		usernameInput.addEventListener('keyup', function() {
		    updateAvatar();
		});

		// 头像更新函数
		function updateAvatar() {
		    // 获取当前输入的用户名
		    var username = usernameInput.value.trim();

		    if (username !== '') {
		        // 支持的图像格式数组
		        var imageExtensions = ['.png', '.jpg', '.jpeg', '.ico'];

		        // 默认头像URL
		        var defaultAvatarUrl = '/pdh-java-web/profile_picture/0123456789default.png';

		        // 切换头像为默认头像
		        var avatarImage = document.getElementById('avatarImage');
		        avatarImage.src = defaultAvatarUrl;

		        // 构造头像URL
		        var avatarUrl = null;
		        for (var i = 0; i < imageExtensions.length; i++) {
		            var extension = imageExtensions[i];
		            avatarUrl = '/pdh-java-web/profile_picture/' + username + extension;

		            // 创建一个新的Image对象
		            var image = new Image();

		            // 监听Image对象的加载完成事件
		            image.addEventListener('load', function() {
		                // 如果加载到对应头像，则更新头像图片的src属性
		                avatarImage.src = avatarUrl;
		            });

		            // 设置Image对象的src属性
		            image.src = avatarUrl;

		            // 如果头像URL加载成功，则退出循环
		            if (image.complete) {
		                break;
		            }
		        }
		    } else {
		        // 显示默认头像
		        var defaultAvatarUrl = '/pdh-java-web/profile_picture/0123456789default.png';
		        var avatarImage = document.getElementById('avatarImage');
		        avatarImage.src = defaultAvatarUrl;
		    }
		}

	</script>
</body>
</html>
